body {
    margin: 0;
    font-family: Arial;
    background: #111;
    color: white;
}

header {
    background: #222;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 60px;
}

button {
    padding: 10px;
    background: #00bfff;
    border: none;
    color: white;
}

.cards {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.card {
    background: #222;
    padding: 20px;
    width: 200px;
}
